body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.kizel-angeles {
    width: 100%;
    height: auto;
    border: 5px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.kizel-angeles2 {
    width: 50%;
    height: auto;
    border: 5px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    float: right;
}
.kizel-angeles3 {
    width: 50%;
    height: auto;
    border: 5px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    float: left;
}
.kizel-angeles4 {
    width: 100%;
    height: auto;
    border: 5px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.content img {
    border: 5px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.dostopr {
    margin-top: 20px;
}

.dostopr ul {
    list-style-type: none;
    padding: 0;
}

.dostopr li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer a {
  color: white;
}